<article class="__small-card">
    <div class="photo__small-card">
        <img src="https://swanhose.com/cdn/shop/articles/water-plant-growth.jpg?v=1683652693"
        alt=""
        height="auto"
        width="100%">

    </div>
    <div class="article__small-card">
        <data>july 2 2020</data>
        <h4 class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum temporibus</h4>
        <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga vel vitae corporis ducimus natus fugiat debitis asperiores nisi deleniti quia eaque</p>
        
        <div class="author">
            <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-image-182145777.jpg" alt="">
            <div class="author-info">
                <span class="name__small-card">Pedro C.</span>
                <span class="desc__small-card">Developer Jr.</span>
            </div>
        </div>
    
    </div>

</article>