<nav class="container __menu-bar">
    <div class="left-side">
        <div class="search-area">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" name="" id="">
        </div>
    </div>
    <div class="center-side">
        <h1 class="title__menu-bar">
            Blog's Pedro
        </h1>
    </div>
    <div class="right-side">
            <a href="#">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-square-github"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-square-instagram"></i>
            </a>

            <i class="menu-openner fa-solid fa-bars"></i>
            
            

           
       
    </div>
</nav>
