nav {
    display: flex;
    height: 60px;
    align-items: center;
}
.search-area {
    display: flex;
    align-items: center;
    width: 190px;
    display: flex;
    border-radius: 20px;
    border: 1px solid #BFBFBF;
    padding: 8px 12px;
    gap: 6px;
    
}
.search-area i {
    transition: .5s;
    cursor: pointer;
}
.search-area i:active {
    transform: scale(.6);
}
.search-area input {
    background-color: transparent;
    border: none;
}
.search-area input:focus-visible{
    outline: none;

}